<div class="home-container">
    <div class="welcome-section">
      <h1>Bienvenido al Blog de Heráldica</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius tortor sit amet sem ullamcorper,
        in malesuada diam eleifend. Integer eu turpis in velit fringilla aliquet ac eu justo.
      </p>
    </div>
  <br/>
    <div class="image-section">
      <!-- Aquí puedes colocar la imagen personalizada -->
    <img src="../../assets/fer.jpeg" alt="Imagen Personalizada" width="400px"> 
    </div>
  
    <div class="blog-section">
      <h2>Sobre el Blog de Heráldica</h2>
      <p>
        El blog de heráldica es un espacio dedicado a la fascinante ciencia de los blasones y escudos de armas.
        Aquí podrás encontrar artículos interesantes sobre la historia de distintas familias y linajes,
        así como los elementos que componen los escudos y su significado. ¡Acompáñanos en este viaje a través del tiempo
        y descubre el legado ancestral de la heráldica!
      </p>
  
      <h2>Trabajo en Angular</h2>
      <p>
        Además del contenido sobre heráldica, este blog también es un ejemplo de trabajo en Angular.
        Se ha implementado un sistema de inicio de sesión (login) para que los administradores puedan acceder
        y gestionar los artículos del blog. También se ha desarrollado un CRUD (Create, Read, Update, Delete)
        para manejar los contenidos del blog de manera fácil y rápida. Angular ha sido una herramienta poderosa
        para crear este sitio web interactivo y dinámico.
      </p>
    </div>
  </div>
  