/* Estilos generales */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: justify; /* Justificar el texto */
  }
  
  .home-container h1,
  .home-container h2 {
    color: #1c71aa;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align:start;
  }
  
  .home-container p {
    color: #333;
    line-height: 1.6;
  }
  
  /* Estilos para la sección de bienvenida */
  .welcome-section {
    flex: 1;
    max-width: 600px;
    text-align: justify; /* Justificar el texto */
  }
  
  /* Estilos para la sección de imagen personalizada */
  .image-section {
    flex: 1;
    margin: 0 20px;
    /* Agregar estilos para la imagen si es necesario */
  }
  
  /* Estilos para la sección del blog */
  .blog-section {
    flex: 1;
    max-width: 600px;
    text-align: justify; /* Justificar el texto */
  }
  